#fh5co-about-us {
  padding-top: 0px;
  margin-top: -250px;
  padding-bottom: 30px;
}

#fh5co-about-us .header {
  padding: 100px;
  padding-top: 80px;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}

#fh5co-about-us .header-wrap {
  background-color: #FFC20F;
  z-index: 2;
}

#fh5co-about-us .product-section {
  margin-top: 50px;
}

#fh5co-about-us .product-section .product-description {
  background-color: #FFC20F;
  padding: 15px 10px;
  position: relative;
}

#fh5co-about-us .product-section .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

#fh5co-about-us .product-section .btn-buy-now {
  color: #FFC20F;
  padding: 8px 13px;
  border-radius: 25px;
  background-color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  right: 24px;
  bottom: 8px;
}

#fh5co-about-us .product-section .btn-buy-now:hover {
  border: 1px solid white;
  color: white;
  background-color: #FFC20F;
}

#fh5co-about-us .product-section .product-wrap {
  padding-bottom: 30px;
}

#fh5co-about-us .product-section .product-wrap img {
  width: 100%;
}

#fh5co-our-services {
  padding: 0px;
}

#fh5co-our-services .row {
  padding: 0px;
  display: flex;
}

#fh5co-our-services .row .first-col {
  align-items: stretch;
  padding: 0px;
}

#fh5co-our-services .container-fluid .first-col img {
  width: 100%;
}

#fh5co-our-services .container-fluid .second-col {
  align-items: stretch;
  padding: 0px;
}

#fh5co-our-services .container-fluid .second-col .about-leryna-wrap {
  padding-top: 40%;
  padding-bottom: 185px;
  padding-left: 115px;
  padding-right: 108px;
  background-color: #FFC20F;
  height: 100%;
}

#fh5co-our-services .container-fluid .second-col .about-leryna-wrap .header {
  color: black;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 20px;
}

#fh5co-our-services .container-fluid .second-col .about-leryna-wrap .description {
  font-size: 16px;
  line-height: 24px;
  color: #4D4D4D;
}

#fh5co-features {
  padding: 0px;
}

#fh5co-features .mobile {
  display: none;
}

#fh5co-features .container-fluid {
  padding: 0px;
}

#fh5co-features .container-fluid .col {
  padding-left: 75px;
  padding-right: 108px;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #F2F2F2;
}

#fh5co-features .container-fluid .col .number {
  font-size: 150px;
  line-height: 226px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4D4D4D;
}
#fh5co-features .container-fluid .col .title {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}
#fh5co-features .container-fluid .col .description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #4D4D4D;
}

#fh5co-features .container-fluid .col:hover {
  background-color: #FFC20F;
}

#fh5co-features .container-fluid .col:hover .number {
  color: black;
}

#fh5co-features .container-fluid .col:hover .title {
  color: black;
}

#fh5co-features .container-fluid .col:hover .description {
  color: #4D4D4D;
}

#fh5co-testimonials {
  background-color: white;
  padding: 0px;
  padding-bottom: 50px;
}

#fh5co-testimonials .header-section {
  color: black;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: black;
  padding-top: 65px;
}

#fh5co-testimonials .header-section:after {
  content: "";
  width: 60px;
  height: 6px;
  background-color: #FFC20F;
  display: block;
}

#fh5co-testimonials .col {
  margin-top: 30px;
}

#fh5co-testimonials .first-col {
  padding-left: 0px;
}

#fh5co-testimonials .last-col {
  padding-right: 0px;
}

#fh5co-testimonials .col .content-wrap {
  padding: 15px;
  padding-bottom: 0px;
}

#fh5co-testimonials .col img {
  width: 100%;
}

#fh5co-testimonials .col .title {
  color: black;
  font-size: 20px;
  line-height: 30px;
  padding-top: 26px;
  padding-bottom: 16px;
  margin-bottom: 0px;
  font-weight: bold;
}

#fh5co-testimonials .col .content {
  color: #4D4D4D;
  font-size: 16px;
  line-height: 24px;
}

#fh5co-testimonials .col .post-wrap {
  padding-bottom: 60px;
}

#fh5co-testimonials .col .post-wrap:hover {
  background-color: #F2F2F2;
  padding-bottom: 15px;
}

#fh5co-testimonials .col .post-wrap .btn-read-more {
  color: black;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0px;
  border-radius: 25px;
  background-color: #FFC20F;
  cursor: pointer;
  display: none;
  text-align: center;
  width: 90px;
  margin-left: 15px;
}

#fh5co-testimonials .col .post-wrap:hover .btn-read-more {
  display: block;
}

#footer {
  background-color: #FFC20F;
}

#footer p {
  color: #4D4D4D;
  font-size: 16px;
  line-height: 24px;
}

.product-page #fh5co-about-us {
  margin-top: 30px;
}

.product-page #fh5co-about-us .product-section {
  margin-top: 0px;
}

.product-page #fh5co-about-us .header-section {
  color: black;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
}

.product-page #fh5co-about-us .header-section:after {
  content: "";
  width: 60px;
  height: 6px;
  background-color: #FFC20F;
  display: block;
}

.blog-page #fh5co-testimonials .header-section {
  padding-top: 20px;
}

.product-page .detail-product .first-col {
  padding-left: 0px;
}

.product-page .detail-product .second-col {
  padding-right: 0px;
}

.product-page .detail-product .header-section {
  color: black;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
}

.product-page .detail-product .header-section:after {
  content: "";
  width: 60px;
  height: 6px;
  background-color: #FFC20F;
  display: block;
}

.product-page .detail-product .first-col .big-img {
  display: block;
  width: 80%;
}

.product-page .detail-product .first-col .small-img {
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 12.5%;
}

.product-page .detail-product .second-col .title {
  color: black;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 0px;
}

.product-page .detail-product .second-col .description {
  color: black;
  padding-top: 50px;
  font-size: 16px;
  line-height: 24px;
}

.btn-contact {
  padding: 7px 40px;
  background-color: #FFC20F;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.btn-contact:hover {
  text-decoration: none;
}

#contact-modal {
  padding-top: 100px;
  width: 50%;
  margin-left: 25%;
}

.modal-content {
  padding: 50px;
}

.modal-content .header {
  color: black;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
}

.modal-content .header:after {
  content: "";
  width: 60px;
  height: 6px;
  background-color: #FFC20F;
  display: block;
}

.modal-content .title {
  color: #4D4D4D;
  font-size: 16px;
  line-height: 24px;
  padding-top: 30px;
  margin-bottom: 0px;
}

.modal-content input {
  width: 100%;
  background-color: #F2F2F2;
  border: none;
  height: 50px;
  padding-top: 10px;
}

.blog-content-section {
  padding-top: 50px;
}

.blog-content-section .title {
  font-size: 40px;
  line-height: 60px;
  color: black;
  font-weight: bold;
  margin-bottom: 0px;
}

.blog-content-section .content {
  padding-top: 60px;
  color: #4D4D4D;
  font-size: 16px;
  line-height: 24px;
}
